.noSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rex-main-content .rex-page-nav .nav-tabs {
  -webkit-transition: border-color .25s;
  -o-transition: border-color .25s;
  transition: border-color .25s;
}
.rex-main-content .rex-page-nav.sticky {
  top: 0;
  z-index: 1000;
  position: fixed;
}
.rex-main-content .rex-page-nav.sticky .nav-tabs {
  border-color: transparent;
}
.rex-main-content .rex-page-nav.sticky + * {
  margin-top: 64px;
}

/* Slice Form */
.panel-form {
  padding: 14px 15px;
  border-bottom: 1px solid #dfe3e9;
}
.panel-form div {
  font-size: 13px;
  margin-right: 20px;
  vertical-align: top;
  display: inline-block;
}
.panel-form label {
  padding-right: 10px;
}
.panel-form input {
  height: 22px;
  padding: 2px;
  font-size: 13px;
  max-width: 100px;
  font-family: inherit;
}

.ui-datepicker {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #dfe3e9;
}

.slice_ui img {
  width: 16px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.btn-copy {
  color: #fff;
  background: #3bb594;
  border-color: #3bb594;
}
.btn-cut {
  color: #fff;
  background: #e8a800;
  border-color: #e8a800;
}
.btn-paste {
  color: #fff;
  background: #4b9ad9;
  border-color: #4b9ad9;
}

.btn-cut,
.btn-copy,
.btn-paste,
.btn-visible,
.btn-invisible,
.btn-move-up-n-down {
  color: #000;
  background: #fff;
  border-color: #ccc;
}
.btn-cut:hover,
.btn-copy:hover,
.btn-paste:hover,
.btn-visible:hover,
.btn-invisible:hover,
.btn-move-up-n-down:hover {
  color: #000;
  background: #e6e6e6;
  border-color: #adadad;
}


.fa-copy:before,
.rex-icon-copy:before {
  content: "\f0c5";
}
.fa-cut:before,
.rex-icon-cut:before {
  content: "\f0c4";
}
.fa-paste:before,
.rex-icon-paste:before {
  content: "\f0ea";
}
.fa-emptyclip:before,
.rex-icon-emptyclip:before {
  content: "\f127";
}
.fa-move-up-n-down:before,
.rex-icon-move-up-n-down:before {
  content: "\f0dc";
}

.fa-visible:before,
.rex-icon-visible:before {
  content: "\f06e";
}
.fa-invisible:before,
.rex-icon-invisible:before {
  content: "\f070";
}